<web-app>
  <display-name>Archetype Created Web Application</display-name>

<!-- ======================= Adding  code for dispatcher servlet in spring mvc =============================-->
  
  <!-- ============== Adding  code for dispatcher servlet and its class ====================-->
  
  <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
 
 <!-- ======================= Adding  code for dispatcher servlet mapping in spring mvc =============================-->
  
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
   </servlet-mapping>
	

 
<!-- ======================= Adding  code for context param to add the dispatcher-servlet file path  in spring mvc =============================-->
  

	<context-param>
		
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/dispatcher-servlet.xml,
					/WEB-INF/hibernate-cfg.xml,
					/WEB-INF/spring-security.xml
        </param-value>
	</context-param>


	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<!-- ===================SPRING FILTER CHAIN MAPPING======================================== -->
  	 <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
  
  <!-- ==========================MULTIPARTFILE CONFIG================================================================ -->
  
  <multipart-config>
   <!-- 50MB max -->
    <max-file-size>5242880000000</max-file-size>
   <max-request-size>5242880000000</max-request-size>
    <file-size-threshold>0</file-size-threshold>
  </multipart-config>
  
  </web-app>